@charset 'utf-8';

@import '_basic';

/* ------------------------------------------------
index
------------------------------------------------ */
.page_home {
  background: linear-gradient(45deg, #51abff, #fff34e, #ff4343);
  background-size: 600% 600%;
  -webkit-animation: bodyBGgradation 10s ease infinite;
  animation: bodyBGgradation 10s ease infinite;
  text-align: center;
}
@-webkit-keyframes bodyBGgradation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes bodyBGgradation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.title_wrap {
  max-width: 600px;
  margin: 0 auto 40px;
  .title {
    @include sizeRatio(100%, 600px, 600px);
    position: relative;
    img {
      position: absolute; top: 0; left: 0;
      -webkit-animation: bounce 3s ease infinite;
      animation: bounce 3s ease infinite;
    }
  }
  @-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.7) }
    50% { -webkit-transform: scale(1.0) }
  }
  @keyframes bounce {
    0%, 100% { transform: scale(0.7) }
    50% { transform: scale(1.0) }
  }
}

.btn_wrap { margin: 0 auto 40px; }

//button
.btn_type1 {
	-moz-box-shadow: 0px 13px 25px -9px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 13px 25px -9px rgba(0,0,0,0.5);
	box-shadow: 0px 13px 25px -9px rgba(0,0,0,0.5);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5070ab), color-stop(1, #5374b5));
	background:-moz-linear-gradient(top, #5070ab 5%, #5374b5 100%);
	background:-webkit-linear-gradient(top, #5070ab 5%, #5374b5 100%);
	background:-o-linear-gradient(top, #5070ab 5%, #5374b5 100%);
	background:-ms-linear-gradient(top, #5070ab 5%, #5374b5 100%);
	background:linear-gradient(to bottom, #5070ab 5%, #5374b5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5070ab', endColorstr='#5374b5',GradientType=0);
	background-color:#5070ab;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
  border-radius:5px;
  box-sizing: border-box;
  display:inline-block;
  width: 300px;
	font-size:23px;	font-weight: 700; color:#ffffff; list-style: 1.1em;
  text-decoration:none;
  margin: auto;
	padding:10px 10px;
	cursor:pointer;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5374b5), color-stop(1, #5070ab));
	background:-moz-linear-gradient(top, #5374b5 5%, #5070ab 100%);
	background:-webkit-linear-gradient(top, #5374b5 5%, #5070ab 100%);
	background:-o-linear-gradient(top, #5374b5 5%, #5070ab 100%);
	background:-ms-linear-gradient(top, #5374b5 5%, #5070ab 100%);
	background:linear-gradient(to bottom, #5374b5 5%, #5070ab 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5374b5', endColorstr='#5070ab',GradientType=0);
	background-color:#5374b5;
}
.myButton:active {
	position:relative;
	top:1px;
}
