/* ------------------------------------------------
import
------------------------------------------------ */
/* reset */
/* Reset Style */
html {
  overflow-y: scroll; }

body {
  margin: 0 auto; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

div, p, ul, ol, li, dl, dt, dd, form, input, img {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

img,
fieldset {
  border: 0; }

/* ------------------------------------------------
index
------------------------------------------------ */
body {
  background: linear-gradient(45deg, #51abff, #fff34e, #ff4343);
  background-size: 600% 600%;
  -webkit-animation: bodyBGgradation 10s ease infinite;
  animation: bodyBGgradation 10s ease infinite; }

@-webkit-keyframes bodyBGgradation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes bodyBGgradation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
