/* ------------------------------------------------
import
------------------------------------------------ */
/* reset */
/* Reset Style */
html {
  overflow-y: scroll; }

body {
  margin: 0 auto; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

div, p, ul, ol, li, dl, dt, dd, form, input, img {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

img,
fieldset {
  border: 0; }

/* mixin */
/* size ratio */
/* ------------------------------------------------
img
------------------------------------------------ */
img {
  width: 100%;
  max-width: 100%;
  height: auto; }

/* ------------------------------------------------
index
------------------------------------------------ */
.page_home {
  background: linear-gradient(45deg, #51abff, #fff34e, #ff4343);
  background-size: 600% 600%;
  -webkit-animation: bodyBGgradation 10s ease infinite;
  animation: bodyBGgradation 10s ease infinite;
  text-align: center; }

@-webkit-keyframes bodyBGgradation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes bodyBGgradation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.title_wrap {
  max-width: 600px;
  margin: auto; }
  .title_wrap .title {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative; }
    .title_wrap .title img {
      position: absolute;
      top: 0;
      left: 0;
      -webkit-animation: bounce 3s ease infinite;
      animation: bounce 3s ease infinite; }

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0.7); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
