/* ------------------------------------------------
import
------------------------------------------------ */
/* reset */
/* Reset Style */
html {
  overflow-y: scroll; }

body {
  margin: 0 auto; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

h1, h2, h3, h4, h5, h6, div, p, ul, ol, li, dl, dt, dd, form, input, img {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

img,
fieldset {
  border: 0; }

/* mixin */
/* size ratio */
/* ------------------------------------------------
img
------------------------------------------------ */
img {
  width: 100%;
  max-width: 100%;
  height: auto; }

/* ------------------------------------------------
button
------------------------------------------------ */
.btn_type1 {
  -moz-box-shadow: 0px 13px 25px -9px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 13px 25px -9px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 13px 25px -9px rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5070ab), color-stop(1, #5374b5));
  background: -moz-linear-gradient(top, #5070ab 5%, #5374b5 100%);
  background: -webkit-linear-gradient(top, #5070ab 5%, #5374b5 100%);
  background: -o-linear-gradient(top, #5070ab 5%, #5374b5 100%);
  background: -ms-linear-gradient(top, #5070ab 5%, #5374b5 100%);
  background: linear-gradient(to bottom, #5070ab 5%, #5374b5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5070ab', endColorstr='#5374b5',GradientType=0);
  background-color: #5070ab;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  width: 280px;
  font-size: 23px;
  font-weight: 700;
  color: #ffffff;
  list-style: 1.1em;
  text-decoration: none;
  margin: auto;
  padding: 10px 10px;
  cursor: pointer; }

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5374b5), color-stop(1, #5070ab));
  background: -moz-linear-gradient(top, #5374b5 5%, #5070ab 100%);
  background: -webkit-linear-gradient(top, #5374b5 5%, #5070ab 100%);
  background: -o-linear-gradient(top, #5374b5 5%, #5070ab 100%);
  background: -ms-linear-gradient(top, #5374b5 5%, #5070ab 100%);
  background: linear-gradient(to bottom, #5374b5 5%, #5070ab 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5374b5', endColorstr='#5070ab',GradientType=0);
  background-color: #5374b5; }

.myButton:active {
  position: relative;
  top: 1px; }

/* ------------------------------------------------
common vars
------------------------------------------------ */
/* ------------------------------------------------
home
------------------------------------------------ */
@-webkit-keyframes bodyBGgradation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes bodyBGgradation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.page_home {
  background: linear-gradient(45deg, #51abff, #fff34e, #ff4343);
  background-size: 600% 600%;
  -webkit-animation: bodyBGgradation 10s ease infinite;
  animation: bodyBGgradation 10s ease infinite;
  text-align: center;
  /* header */
  /* /header */
  /* about */
  /* /about */ }
  .page_home .home_header {
    padding: 40px 10px; }
    .page_home .home_header .title_wrap {
      max-width: 600px;
      margin: 0 auto; }
      .page_home .home_header .title_wrap .title {
        width: 100%;
        height: 0;
        padding-top: 100%;
        position: relative; }
        .page_home .home_header .title_wrap .title img {
          position: absolute;
          top: 0;
          left: 0;
          -webkit-animation: bounce 3s ease infinite;
          animation: bounce 3s ease infinite; }

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0.7); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
    .page_home .home_header .sub_title {
      margin: 40px auto; }
    .page_home .home_header .btn_wrap {
      margin: 0 auto; }
      .page_home .home_header .btn_wrap a {
        transition: all 0.3s ease-out; }
        .page_home .home_header .btn_wrap a:hover {
          -webkit-transform: scale(1.04);
          transform: scale(1.04); }
  .page_home .about_warp {
    position: relative;
    overflow: hidden;
    margin: 10% 0;
    padding: 80px 0; }
    .page_home .about_warp::before {
      box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.2);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 120%;
      height: 80%;
      margin: 3% -10% 0;
      background: #FFFFFF;
      -webkit-transform-origin: right center;
      transform-origin: right center;
      -webkit-transform: rotate(-1.5deg);
      transform: rotate(-1.5deg);
      z-index: -1; }
    .page_home .about_warp .title {
      text-align: center;
      margin-bottom: 20px; }
    .page_home .about_warp .about_inner {
      box-sizing: boder-box;
      width: 100%;
      max-width: 640px;
      height: 100%;
      text-align: left;
      margin: 0 auto;
      padding: 80px 10px 100px; }
