extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= 'Home';
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- Optional
  - var pageOgpTitle= 'Home';
  - var pageOgpImage= site.ogpImage
  - var pageLang= 'ja-JP';
  - var pageOgpType= 'website';
  //- Not modified
  - var pageUrl= relativePath;
  - var pageName= 'home'
  - var assetsPath= '/my_pages/assets/';

block content
  .title_wrap
    h1.title
      img(src=assetsPath+'images/octocat.png', alt="My page")
    .test test


//- append prepend block
block append css
  link(rel=assetsPath+'/plugin/add_a_little_magic/style.css')
block append js
  script(src=assetsPath+'/plugin/add_a_little_magic/script.js')