extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= 'Home';
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- Optional
  - var pageOgpTitle= 'Home';
  - var pageOgpImage= site.ogpImage
  - var pageLang= 'ja-JP';
  - var pageOgpType= 'website';
  //- Not modified
  - var pageUrl= relativePath;

block content
  //- contents
  p.contents Contents
  //- /contents
