extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= 'Home';
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- Optional
  - var pageOgpTitle= 'Home';
  - var pageOgpImage= site.ogpImage
  - var pageLang= 'ja-JP';
  - var pageOgpType= 'website';
  //- Not modified
  - var pageUrl= relativePath;
  - var pageName= 'home'
  - var imgPath= site.rootUrl+'/assets/images/';

block content
  //- contents
  h1.title
    img(src=imgPath+'octocat.png', alt="My page")
    img(src='/my_pages/assets/images/octocat.png', alt="My page")
  //- /contents
